.DS_Store
node_modules
/dist
.cache
.next
# local env files
.env.local
.env.*.local
.env
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# cypress
cypress/screenshots
cypress/videos
# Ignore config.js
./public/config.js
# Ignore DevSpace cache and log folder
.devspace/
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
aws-exports.js
awsconfiguration.json
